In [1]:
import psycopg2

In [2]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)
conn.set_session(autocommit=True)

In [5]:
### We create 4 normalized tables at 3NF from the exercise 1
try:
    cur.execute("CREATE TABLE IF NOT EXISTS transactions2(Transaction_Id int, Customer_Name text, Cashier_Id int,Year int)")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS albums_sold(Album_Id int,Transaction_Id int, Album_Name text)")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS employees(Employee_Id int, Employee_Name text)")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS sales(Transaction_Id int, Amount_Spent int)")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
### Insert data into the tables

try:
    cur.execute("INSERT INTO transactions2(Transaction_Id, Customer_Name, Cashier_Id,Year) \
                VALUES(%s, %s, %s, %s)", \
                (1,"Amanda",1,2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO transactions2(Transaction_Id, Customer_Name, Cashier_Id,Year) \
                VALUES(%s, %s, %s, %s)", \
                (2,"Toby",1,2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try:
    cur.execute("INSERT INTO transactions2(Transaction_Id, Customer_Name, Cashier_Id,Year) \
                VALUES(%s, %s, %s, %s)", \
                (3,"Max",2,2018))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try:
    cur.execute("INSERT INTO albums_sold(Album_Id,Transaction_Id, Album_Name) \
                VALUES(%s, %s, %s)", \
                (1,1,"Rubber Soul"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO albums_sold(Album_Id,Transaction_Id, Album_Name) \
                VALUES(%s, %s, %s)", \
                (2,1,"Let It Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO albums_sold(Album_Id,Transaction_Id, Album_Name) \
                VALUES(%s, %s, %s)", \
                (3,2,"My Generation"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO albums_sold(Album_Id,Transaction_Id, Album_Name) \
                VALUES(%s, %s, %s)", \
                (4,3,"Meet the Beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO albums_sold(Album_Id,Transaction_Id, Album_Name) \
                VALUES(%s, %s, %s)", \
                (5,3,"Help!"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try:
    cur.execute("INSERT INTO employees(Employee_Id, Employee_Name) \
                VALUES(%s, %s)", \
                (1,"Sam"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO employees(Employee_Id, Employee_Name) \
                VALUES(%s, %s)", \
                (2,"Bob"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO sales(Transaction_Id, Amount_Spent) \
                VALUES(%s, %s)", \
                (1,40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO sales(Transaction_Id, Amount_Spent) \
                VALUES(%s, %s)", \
                (2,19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
try:
    cur.execute("INSERT INTO sales(Transaction_Id, Amount_Spent) \
                VALUES(%s, %s)", \
                (3,45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [6]:
print("Table: transactions2\n")
try: 
    cur.execute("SELECT * FROM transactions2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: employees\n")
try: 
    cur.execute("SELECT * FROM employees;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("\nTable: sales\n")
try: 
    cur.execute("SELECT * FROM sales;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions2

(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Table: albums_sold

(1, 1, 'Rubber Soul')
(2, 1, 'Let It Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

Table: employees

(1, 'Sam')
(2, 'Bob')

Table: sales

(1, 40)
(2, 19)
(3, 45)

In [7]:
try:
    cur.execute("SELECT transactions2.Transaction_Id, Customer_Name, employees.Employee_Name, Year, albums_sold.Album_Name,sales.Amount_Spent \
                from ((transactions2 JOIN employees on transactions2.Cashier_Id = employees.Employee_Id) join \
                albums_sold on transactions2.Transaction_Id = albums_sold.Transaction_Id) join \
                sales on transactions2.Transaction_Id = sales.Transaction_Id;")
except psycopg2.Error as e:
    print("Error: Select *")
    print(e)

row=cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

(1, 'Amanda', 'Sam', 2000, 'Rubber Soul', 40)
(1, 'Amanda', 'Sam', 2000, 'Let It Be', 40)
(2, 'Toby', 'Sam', 2000, 'My Generation', 19)
(3, 'Max', 'Bob', 2018, 'Meet the Beatles', 45)
(3, 'Max', 'Bob', 2018, 'Help!', 45)

### But, we had to perform a 3 way `JOIN` to get there. While it's great we had that flexibility, we need to remember that `JOINS` are slow and if we have a read heavy workload that required low latency queries we want to reduce the number of `JOINS`.  Let's think about denormalizing our normalized tables.

### With denormalization you want to think about the queries you are running and how to reduce the number of JOINS even if that means duplicating data. The following are the queries you need to run.

#### Query 1 : `select transaction_id, customer_name, amount_spent FROM <min number of tables>` 
It should generate the amount spent on each transaction 
#### Query 2: `select cashier_name, SUM(amount_spent) FROM <min number of tables> GROUP BY cashier_name` 
It should generate the total sales by cashier

In [9]:
### create a new transaction tables with columns: Transaction_Id, Customer_Name, Cashier_Id, Year, Amount_Spent
try:
    cur.execute("CREATE TABLE IF NOT EXISTS transactions(Transaction_Id int, Customer_Name text, Cashier_Id int, Year int, Amount_Spent int)")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
### Insert data
try:
    cur.execute("INSERT INTO transactions(Transaction_Id, Customer_Name, Cashier_Id, Year, Amount_Spent) \
                VALUES (%s, %s, %s, %s, %s)", \
               (1,"Amanda",1,2000,40))
except psycopg2.Error as e:
    print("Error: Issue insert row")
    print(e)
try:
    cur.execute("INSERT INTO transactions(Transaction_Id, Customer_Name, Cashier_Id, Year, Amount_Spent) \
                VALUES (%s, %s, %s, %s, %s)", \
               (2,"Toby",1,2000,19))
except psycopg2.Error as e:
    print("Error: Issue insert row")
    print(e)
try:
    cur.execute("INSERT INTO transactions(Transaction_Id, Customer_Name, Cashier_Id, Year, Amount_Spent) \
                VALUES (%s, %s, %s, %s, %s)", \
               (3,"Max",2,2018,45))
except psycopg2.Error as e:
    print("Error: Issue insert row")
    print(e)

In [14]:
### Fetch table
try: 
    cur.execute("SELECT Transaction_Id, Customer_Name, Amount_Spent from transactions")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 40)
(2, 'Toby', 19)
(3, 'Max', 45)

In [17]:
### create a cashier_sales with columns: Transaction_Id, Cashier_Name, Cashier_Id, Amount_Spent
try:
    cur.execute("CREATE TABLE IF NOT EXISTS cashier_sales(Transaction_Id int, Cashier_Name text, Cashier_Id int, Amount_Spent int)")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
### Insert data
try:
    cur.execute("INSERT INTO cashier_sales(Transaction_Id, Cashier_Name, Cashier_Id, Amount_Spent) \
                VALUES (%s, %s, %s, %s)", \
               (1,"Sam",1,40))
except psycopg2.Error as e:
    print("Error: Issue insert row")
    print(e)
try:
    cur.execute("INSERT INTO cashier_sales(Transaction_Id, Cashier_Name, Cashier_Id, Amount_Spent) \
                VALUES (%s, %s, %s, %s)", \
               (2,"Sam",1,19))
except psycopg2.Error as e:
    print("Error: Issue insert row")
    print(e)
try:
    cur.execute("INSERT INTO cashier_sales(Transaction_Id, Cashier_Name, Cashier_Id, Amount_Spent) \
                VALUES (%s, %s, %s, %s)", \
               (3,"Bob",2,45))
except psycopg2.Error as e:
    print("Error: Issue insert row")
    print(e)

In [19]:
### Fetch table
try: 
    cur.execute("SELECT Cashier_Name, SUM(amount_spent) from cashier_sales GROUP BY Cashier_Name;")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('Sam', 59)
('Bob', 45)

In [20]:
try: 
    cur.execute("DROP table albums_sold")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table employees")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table transactions")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table transactions2")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table sales")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table cashier_sales")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

In [21]:
cur.close()
conn.close()